/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Baseline */
  --global-baseline: calc(1rem / 2);

  /* Whitespace */
  --global-white-space-xs: calc(var(--global-baseline) / 2);
  --global-white-space-s: var(--global-baseline);
  --global-white-space-md: calc(var(--global-baseline) * 2);
  --global-white-space-lg: calc(var(--global-baseline) * 3);
  --global-white-space-xl: calc(var(--global-baseline) * 4);

  /* Colors */
  --global-color-beta: #ffffff;
  --global-color-beta-transparent: #ffffff99;
  --global-color-alpha: #0076ee;
  --global-color-alpha-transparent: #0076ee99;
  --global-color-action: #ff00b2;
  --global-color-neutral: #484848;
  --global-color-action-transparent: #ff00b299;

  /* Boders */
  --global-border-borderRadius: 20px;
  --global-border-boxShadow: 0 3px 4px rgba(0, 0, 0, 0.29);

  /* Fonts */
  --global-font-size: 16;
  --global-line-heigt: 1.33333;

  /* Transition speeds */
  --global-transitionSpeed-slow: 0.4s;
  --global-transitionSpeed-md: 0.3s;
  --global-transitionSpeed-fast: 0.2s;

  /* Form */
  --global-form-field-font-size: calc(18rem / var(--global-font-size));
  --global-form-field-padding: calc(11rem / var(--global-font-size))
    calc(15rem / var(--global-font-size));
}

/*------------------------------------*\
  #GENERIC
  \*------------------------------------*/

/*
      Generic: Page
      ---
      Global page styles + universal box-sizing:
  */

html {
  font-size: 100%;
  line-height: var(--global-line-heigt);
  color: var(--global-color-alpha);
  background-color: var(--global-color-beta);
  background: var(--landingspagina-backgroundColor, var(--global-color-beta));
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-landingspagina {
  --landingspagina-backgroundColor: linear-gradient(
    var(--global-color-alpha),
    var(--global-color-beta)
  );
  /* --landingspagina--backgroundColor: var(--global--color--dark) */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Customize the background color to match your design.
  */

::-moz-selection {
  background: var(--global-color-action);
  color: var(--global-color-beta);
  text-shadow: none;
}

::selection {
  background: var(--global-color-action);
  color: var(--global-color-beta);
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
  \*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
  */

img {
  max-width: 100%;
  vertical-align: top;
}

/*
      Elements: typography
      ---
      Default markup for typographic elements
  */

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: calc(36rem / var(--global-font-size));
  line-height: var(--global-line-heigt);
  margin: 0 0 var(--global-white-space-lg);
}

h2 {
  font-size: calc(32rem / var(--global-font-size));
  line-height: 1.25;
  margin: 0 0 var(--global-white-space-lg);
}

h3 {
  font-size: calc(26rem / var(--global-font-size));
  line-height: var(--global-line-heigt);
  margin: 0 0 var(--global-white-space-lg);
}

h4,
h5,
h6 {
  font-size: calc(16rem / var(--global-font-size));
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 var(--global-white-space-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-white-space-lg);
}

ul,
ol {
  padding-left: var(--global-white-space-lg);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: calc(23rem / var(--global-font-size));
  line-height: var(--global-line-heigt);
  margin: 0 0 var(--global-white-space-lg);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: calc(12rem / var(--global-font-size));
  line-height: var(--global-line-heigt);
  margin-top: var(--global-white-space-s);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-white-space-lg);
}

a {
  color: var(--global-color-action);
  outline-color: var(--global-color-action);
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: var(--global-color-action);
}

a:hover,
a:focus {
  color: var(--global-color-action);
}

label,
input {
  display: block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--global-color-action);
}

/*------------------------------------*\
  #OBJECTS
  \*------------------------------------*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
  #COMPONENTS
  \*------------------------------------*/

/*
    COMPONENT: Grid application
*/

.c-grid-app {
  display: grid;
  grid-template-columns: minmax(15rem, 1fr);
  grid-template-rows: auto auto minmax(18.75rem, 1fr) auto;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

/*
      COMPONENT: header
  */

.c-header {
  background-color: var(--global-color-alpha);
  color: var(--global-color-beta);
  border-radius: 0 0 var(--global-border-borderRadius)
    var(--global-border-borderRadius);
  box-shadow: var(--global-border-boxShadow);
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-header__content {
  font-weight: 700;
  line-height: var(--global-line-heigt);
  font-size: calc(24rem / var(--global-font-size));
  margin: 0;
}

.c-header__logo {
  width: calc(var(--global-baseline) * 4);
  height: calc(var(--global-baseline) * 4);
  border-radius: var(--global-border-borderRadius);
  margin-right: var(--global-white-space-s);
  background-color: var(--global-color-beta);
}

/*
      COMPONENT: Toggle
  */

.c-toggle {
  --c-toggle-boxShadow: unset;
  --c-toggle-borderColor: var(--global-color-action);
  --c-toggle-color: var(--global-color-action-transparent);
  --c-toggle-backgroundColor: var(--global-color-beta);

  /* Action styles */
  --c-toggle-checked-color: var(--global-color-beta);
  --c-toggle-checked-backgroundColor: var(--global-color-action);
  --c-toggle-focus-color: var(--global-color-beta);
  --c-toggle-focus-backgroundColor: var(--global-color-alpha);

  display: flex;
  justify-content: space-between;
  width: calc(var(--global-baseline) * 26);
  height: 100%;
}

.c-toggle-option {
  margin: 0;
  display: inline;
}

.c-toggle-option__label {
  /* cursor: pointer; */
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: calc(3rem / var(--global-font-size)) 0px;
  width: calc(var(--global-baseline) * 13);
  line-height: calc(24rem / var(--global-font-size));
  border: 1px solid var(--c-toggle-borderColor);
  color: var(--c-toggle-color);
  transition: all var(--global-transitionSpeed-fast) ease-in-out;
  background-color: var(--c-toggle-backgroundColor);
  box-shadow: var(--c-toggle-boxShadow);
}

.c-toggle-option__label--left {
  border-radius: var(--global-border-borderRadius) 0 0
    var(--global-border-borderRadius);
}

.c-toggle-option__label--right {
  border-radius: 0 var(--global-border-borderRadius)
    var(--global-border-borderRadius) 0;
}

.c-toggle-option__input:checked + .c-toggle-option__label {
  --c-toggle-color: var(--c-toggle-checked-color);
  --c-toggle-backgroundColor: var(--c-toggle-checked-backgroundColor);
}

.c-toggle-option__input:active + .c-toggle-option__label,
.c-toggle-option__input:focus + .c-toggle-option__label {
  --c-toggle-backgroundColor: var(--c-toggle-focus-backgroundColor);
  --c-toggle-color: var(--c-toggle-focus-color);
}

/*
      COMPONENT: Data
  */

.c-data {
  --c-data-container-transitionSpeed: var(--global-transitionSpeed-slow);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 50rem) {
  .c-data {
    --c-data-container-transitionSpeed: var(--global-transitionSpeed-md);
  }
}

.c-data-container {
  width: 200vw;
  display: flex;
  height: 100%;
  transition: all var(--c-data-container-transitionSpeed) ease-out;
}

.c-data-container__item {
  width: 100vw;
  height: 100%;
  padding: 0 var(--global-white-space-md) 8px;
}

.c-table--visible {
  transform: translateX(-100vw);
}

/*
      COMPONENT: Map
  */

.c-map {
  border-radius: var(--global-border-borderRadius);
  box-shadow: var(--global-border-boxShadow);
  align-self: center;
  height: 100%;
}

/*
      COMPONENT: Table
  */

.c-table {
  width: 100%;
  max-width: 32rem;
  background-color: var(--global-color-beta);
  padding: var(--global-white-space-s);
  border-radius: var(--global-border-borderRadius);
  box-shadow: var(--global-border-boxShadow);
  margin: 0 auto;
}

.c-table__table-row {
  text-align: left;
}

.c-table__table-header {
  font-size: calc(18rem / var(--global-font-size));
  font-weight: 700;
}

.c-table__table-data {
  font-size: 1rem;
  font-weight: 400;
  color: var(--global-color-neutral);
}

/*
      COMPONENT: Marker
  */

.c-marker-content {
  text-align: center;
  font-size: 1rem;
  line-height: calc(var(--global-baseline) * 2);
  font-weight: 400;
  margin-bottom: var(--global-white-space-xs);
  font-family: inherit;
}

.c-marker-content__places-left {
  font-size: calc(24rem / var(--global-font-size));
  margin-bottom: var(--global-white-space-md);
  font-weight: 700;
}

.c-marker-content__name {
  margin-bottom: var(--global-white-space-s);
  font-size: 1rem;
  font-weight: 700;
}

.c-marker-content__details {
  font-weight: 200;
}

/*
      COMPONENT: Footer
  */

.c-footer {
  color: var(--global-color-action);
  font-size: calc(14rem / var(--global-font-size));
}

/*
      COMPONENT: Grid lp
  */

.c-grid-landingspagina {
  display: grid;
  grid-template-columns: minmax(15rem, auto);
  gap: 1.5rem;
  min-height: 100vh;
}

/*
      COMPONENT: Header lp
  */

.c-header-landingspagina {
  align-self: center;
  justify-self: center;
  text-align: center;
  font-weight: 700;
  color: var(--global-color-beta);
  margin: 0 var(--global-white-space-md);
}

.c-header-landingspagina__title {
  font-size: calc(40rem / var(--global-font-size));
  line-height: var(--global-line-heigt);
  margin: var(--global-white-space-lg) 0 var(--global-white-space-xs) 0;
}

.c-header-landingspagina__sub-title {
  font-size: 1rem;
  line-height: var(--global-line-heigt);
  margin-bottom: 0;
}

/*
      COMPONENT: Content lp
  */

.c-content-landingspagina {
  justify-self: center;
  margin: 0 var(--global-white-space-md);
}

.c-content-landingspagina__title {
  font-size: calc(18rem / var(--global-font-size));
  font-weight: 700;
  line-height: var(--global-line-heigt);
  margin-bottom: var(--global-white-space-md);
  color: var(--global-color-beta);
  text-align: left;
}

.c-content-landingspagina__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--global-line-heigt);
  margin-bottom: var(--global-white-space-lg);
  color: var(--global-color-beta);
  text-align: justify;
}

/*
      COMPONENT: Image lp
  */

.c-image-landingspagina {
  justify-self: center;
  margin: 0 var(--global-white-space-md) var(--global-white-space-md)
    var(--global-white-space-md);
}

.c-image-landingspagina__img {
  width: auto;
  height: auto;
}

/*
      COMPONENT: Footer lp
  */

.c-footer-landingspagina {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--global-color-action);
  font-size: calc(14rem / var(--global-font-size));
}

@media screen and (min-width: 43rem) {
  .c-grid-landingspagina {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr auto;
    grid-gap: calc(var(--global-baseline) * 8);
  }

  .c-header-landingspagina {
    grid-column: span 2;
    align-self: start;
  }

  .c-header-landingspagina__title {
    font-size: calc(56rem / var(--global-font-size));
    margin-top: var(--global-white-space-xl);
  }

  .c-header-landingspagina__sub-title {
    font-size: calc(24rem / var(--global-font-size));
  }

  .c-content-landingspagina {
    align-self: start;
    grid-column: 2;
    justify-self: start;
    margin-left: 0 0 var(--global-white-space-md) 0;
  }

  .c-image-landingspagina {
    align-self: start;
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    margin-right: 0;
  }

  .c-footer-landingspagina {
    grid-column: span 2;
  }
}

/*
      COMPONENT: Custom input lp
  */

.c-custom-input {
  --c-custom-input-color: var(--global-color-action);
  --c-custom-input-boxShadow: unset;

  /* Validation states */
  --c-custom-input-error-color: #c80000;
  --c-custom-input-error-boxShadow: 0 0 0 3px #c8000099;

  /* Action states */
  --c-custom-input-hover-boxShadow: 0 0 0 3px
    var(--global-color-action-transparent);
  --c-custom-input-focus-boxShadow: 0 0 0 3px
    var(--global-color-alpha-transparent);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: var(--global-border-borderRadius);
  font-family: inherit;
  color: var(--global-color-action);
  font-size: var(--global-form-field-font-size);
  padding: var(--global-form-field-padding);
  outline: none;
}

.c-custom-input:hover {
  --c-custom-input-boxShadow: var(--c-custom-input-hover-boxShadow);
}

.c-custom-input:active,
.c-custom-input:focus {
  --c-custom-input-boxShadow: var(--c-custom-input-focus-boxShadow);
}

.c-custom-input__email {
  color: var(--c-custom-input-color);
  border: 1px solid var(--c-custom-input-color);
  box-shadow: var(--c-custom-input-boxShadow);
}

.c-custom-input__label {
  color: var(--global-color-beta);
  font-weight: 700;
  margin: 0 0 var(--global-white-space-s) 0;
  font-size: calc(18rem / var(--global-font-size));
}

.c-custom-input__email::placeholder {
  color: var(--global-color-action);
  font-size: calc(18rem / var(--global-font-size));
  line-height: var(--global-line-heigt);
}

.c-custom-input__email--invalid {
  --c-custom-input-color: var(--c-custom-input-error-color);
  --c-custom-input-boxShadow: var(--c-custom-input-error-boxShadow);
}

.c-form-item--reverse-label {
  display: flex;
  flex-direction: column-reverse;
}

.c-btn-submit {
  --c-btn-submit-text-color: var(--global-color-beta);
  --c-btn-submit-color: var(--global-color-action);

  /* Action states */
  --c-btn-submit-hover-boxShadow: 0 0 0 3px var(--global-color-beta-transparent);
  --c-btn-submit-focus-boxShadow: 0 0 0 3px
    var(--global-color-alpha-transparent);

  width: 100%;
  border-radius: var(--global-border-borderRadius);
  font-family: inherit;
  color: var(--c-btn-submit-text-color);
  font-size: var(--global-form-field-font-size);
  padding: var(--global-form-field-padding);
  outline: none;
  font-weight: 600;
  background-color: var(--c-btn-submit-color);
  border: 1px solid var(--c-btn-submit-color);
  text-align: center;
  box-shadow: var(--c-btn-submit-boxShadow);
}

.c-btn-submit:hover {
  --c-btn-submit-boxShadow: var(--c-btn-submit-hover-boxShadow);
}

.c-btn-submit:focus,
.c-btn-submit:active {
  --c-btn-submit-boxShadow: var(--c-btn-submit-focus-boxShadow);
}

/*------------------------------------*\
  #Utitlities
  \*------------------------------------*/

.u-mb__md {
  margin-bottom: var(--global-white-space-md);
}

.u-pr__md {
  padding-right: calc(var(--global-baseline) * 2);
}

.u-max-width__content {
  max-width: 22rem;
}

.u-space-left--small {
  color: #c80000;
}

.u-space-left--medium {
  color: #d9a619;
}

.u-space-left--large {
  color: #0e9b2a;
}

.u-text-align--right {
  text-align: right;
}

@media screen and (min-width: 90rem) {
  .u-max-width__content {
    max-width: 26rem;
  }

  .c-grid-landingspagina {
    grid-column-gap: calc(var(--global-baseline) * 9);
  }

  .c-content-landingspagina__title {
    font-size: calc(24rem / var(--global-font-size));
    line-height: var(--global-line-heigt);
  }

  .c-content-landingspagina__description {
    font-size: calc(18rem / var(--global-font-size));
    line-height: var(--global-line-heigt);
  }
}
